In [1]:
import pandas as pd
from prince import FAMD

In [3]:
#read data
df = pd.read_table("schooldropout.csv", sep=';')

#encode Target as 0=dropout, 1=graduate, 2=enrolled
df['Target'].replace(['Dropout', 'Graduate', 'Enrolled'], ['0', '1', '2'], inplace=True)

#convert nominal variables to strings
#otherwise, famd will treat them as quantitative and throw error "use PCA instead"
for col in ['Marital status', 
            'Application mode',
            'Application order',
            'Course',
            'Daytime/evening attendance',
            'Previous qualification',
            'Nationality',
            "Mother's qualification",
            "Father's qualification",
            "Mother's occupation",
            "Father's occupation",
            'Displaced',
            'Educational special needs',
            'Debtor',
            'Tuition fees up to date',
            'Gender',
            'Scholarship holder',
            'International']:
    df[col] = df[col].apply(str)

#check data types
{df.columns[i]:x for i,x in enumerate(df.dtypes)}

{'Marital status': dtype('O'),
 'Application mode': dtype('O'),
 'Application order': dtype('O'),
 'Course': dtype('O'),
 'Daytime/evening attendance': dtype('O'),
 'Previous qualification': dtype('O'),
 'Previous qualification (grade)': dtype('float64'),
 'Nationality': dtype('O'),
 "Mother's qualification": dtype('O'),
 "Father's qualification": dtype('O'),
 "Mother's occupation": dtype('O'),
 "Father's occupation": dtype('O'),
 'Admission grade': dtype('float64'),
 'Displaced': dtype('O'),
 'Educational special needs': dtype('O'),
 'Debtor': dtype('O'),
 'Tuition fees up to date': dtype('O'),
 'Gender': dtype('O'),
 'Scholarship holder': dtype('O'),
 'Age at enrollment': dtype('int64'),
 'International': dtype('O'),
 'Curricular units 1st sem (credited)': dtype('int64'),
 'Curricular units 1st sem (enrolled)': dtype('int64'),
 'Curricular units 1st sem (evaluations)': dtype('int64'),
 'Curricular units 1st sem (approved)': dtype('int64'),
 'Curricular units 1st sem (grade)': dtype('float64'),
 'Curricular units 1st sem (without evaluations)': dtype('int64'),
 'Curricular units 2nd sem (credited)': dtype('int64'),
 'Curricular units 2nd sem (enrolled)': dtype('int64'),
 'Curricular units 2nd sem (evaluations)': dtype('int64'),
 'Curricular units 2nd sem (approved)': dtype('int64'),
 'Curricular units 2nd sem (grade)': dtype('float64'),
 'Curricular units 2nd sem (without evaluations)': dtype('int64'),
 'Unemployment rate': dtype('float64'),
 'Inflation rate': dtype('float64'),
 'GDP': dtype('float64'),
 'Target': dtype('O')}

In [6]:
#FAMD
famd = FAMD(n_components = 10, n_iter = 3, random_state = 101)
famd.fit(df.drop('Target', axis=1)) #leave out response variable 'Target'
famd.eigenvalues_summary

#plot components
#famd.transform(df)
#famd.plot_row_coordinates(
    #df.head(200),
    #figsize = (15,10),
    #color_labels=['Completion status: {}'.format(t) for t in df['Target']]
#)

          eigenvalue % of variance % of variance (cumulative)
component
0             37.403         1.82%                      1.82%
1             28.514         1.39%                      3.21%
2             27.191         1.33%                      4.54%
3             23.206         1.13%                      5.67%
4             20.944         1.02%                      6.69%
5             20.102         0.98%                      7.67%
6             18.535         0.90%                      8.57%
7             18.357         0.89%                      9.47%
8             17.722         0.86%                     10.33%
9             17.057         0.83%                     11.16%